<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .actions-column {
            width: 156px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5">User List</h1>
    <a href="/users/new" class="btn btn-primary mb-3">Add New User</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th class="actions-column">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/users/edit/{id}(id=${user.getId})}" class="btn btn-warning">Edit</a>

                <form th:method="DELETE"
                      th:action="@{/users/{id}(id=${user.getId()})}" class="d-inline">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>